@charset "utf-8";

/*Fonts*/
@font-face { font-family:'Retorica'; src:url(../fonts/Retorica.otf) format('truetype');}
@font-face { font-family:'Quicksand-Light'; src:url(../fonts/Quicksand-Light.ttf) format('truetype');}
@font-face { font-family:'Quicksand-Regular'; src:url(../fonts/Quicksand-Regular.ttf) format('truetype');}
@font-face { font-family:'Quicksand-Bold'; src:url(../fonts/Quicksand-Bold.ttf) format('truetype');}


/*General*/
section{ margin:0px; padding: 0px; margin-top: 100px; position: relative; font-family:'Quicksand-Regular';}
*{background-color: transparent}
#navigation{ color: #666666 ; }
#bloq{ width: 100%; height: 100%; background: rgba(200,200,200,0.1); position: fixed; top: 0px; z-index:9; display: none;}
#bloq > i {margin-top: 115px; margin-left: calc( 50% - 20px ); z-index: 99; font-size: 40px; color: rgba(0,184,204,1);}

/*Logo*/
#logo{padding-top: 15px; padding-bottom: -10px;}
#logo > a:hover{color: #00b8cc;}
#logo > a {text-decoration: none; color: #666666;}
#sub-logo{ font-size: 28px; font-family:'Retorica'; padding-left:5px;}
#sub-logo2{font-size: 11px; font-family:'Quicksand-Bold' !important; position:relative; top:-7px; left:63px; padding:0px; margin:0px; min-width:120px; max-width:120px;}

/*Menu Navbar*/
.navbar-fixed-top .navbar-collapse {max-height: 400px;}
#menu-iconos{font-size: 20px; text-align: right; max-width: 160px; min-width: 160px;  position: fixed; right: 5px;}
#btn-menu-mobile{ border-radius:3px; color: white; background: #666666; padding: 5px; }
#btn-menu-search, #btn-menu-map, #btn-menu-user, #btn-menu-mobile { max-width:30px; min-width:30px;  padding:5px !important; margin-top:5px;  -webkit-transition:all 0.2s linear; -moz-transition:all 0.2s linear; -o-transition:all 0.2s linear; -ms-transition:all 0.2s linear; transition:all 0.2s linear;}
#btn-menu-search:hover, #btn-menu-map:hover, #btn-menu-user:hover{ text-decoration: underline; position: relative; top: 1px; color: #00b8cc}
#btn-menu-mobile:hover{ background: white; color:#00b8cc}


/*Nav*/
#row-header1 { box-shadow: 0px 1px 3px rgba(0,0,0,0.35); background-color: white; height: 111px;}
#nav{font-family: 'Quicksand-Regular'; font-size: 15px; position:relative; }
#nav nav {margin-bottom: 0px !important; min-height: 40px}
#nav .navbar .collapse > ul > li > a{color:#666666;  margin-right: 2px; padding-left: 10px !important; padding-right: 10px !important; padding-top: 0px; }
#nav .navbar .collapse > ul > li > a:hover{background-color: white !important; border-bottom: 5px solid #00b8cc; color: #00b8cc; margin-bottom: -5px;}
#nav .navbar .collapse > ul > li > a.active {background-color: white !important; border-bottom: 5px solid #00b8cc; color: #00b8cc; font-weight: bold; margin-bottom: -5px;}

/*SubMenus*/
.left-30{padding-left: 30px !important;}

.sub-menu{margin-top:5px !important; font-family : 'Quicksand-Regular';}
.sub-menu  > li.li-20{ font-size: 20px;}
.sub-menu  > li > a > span { font-size: 10px;}


/*MEDIAS*/
@media (max-width: 991px){
    section{margin-top:70px}
    #row-header1 {height: 79px;}
    #nav{top: -32px !important;}


}
@media (max-width: 767px){
    #nav{top: 0px !important;}
    #nav nav {margin-bottom: -50px !important;}
    #nav .navbar .collapse > ul > li{border-bottom: 1px solid silver;}
    #nav .navbar .collapse > ul > li > a{ padding:12px;}
    #nav .navbar .collapse > ul > li > a:hover, #nav .navbar .collapse > ul > li > a.active{ border-bottom:none; margin-bottom: 0px;}
}

