<div class="bloque parallax imagen text-center">
    <div class="contenedor container" id="div-ad-free">
        <div class="row">
            <div class="col-xs-12 text-right" id="div-round1">
                <div class="col-xs-9 div-text-in1 text-right">
                    <h2><span>TOUT</span><br> TYPE DE VEHICULES</h2>
                </div>
                <div class="col-xs-3 div-icno-in-lf">
                    <i class="fa fa-truck"></i>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="col-xs-11 col-xs-offset-1 text-left" id="div-round2">
                <div class="col-xs-3 div-icno-in-rg">
                    <i class="fa fa-road"></i>
                </div>
                <div class="col-xs-9 div-text-in2">
                    <h2>VENTE<br>LOCATION<br>COVOITURAGE</h2>
                </div>

            </div>
            <div class="col-xs-12" id="div-round3">
                <i class="fa fa-car"></i>
                <h1>LE DEPOT D'ANNONCES EST GRATUIT!</h1>
            </div>
        </div><!-- /.row -->
    </div><!-- /.container #div-ad-free -->
</div><!-- /.bloque .parallax .imagen -->

<div class="text-center"><h4 class="text-center" id="conseil">Si vous voulez vendre votre véhicule plus rapidement, suivez nos conseils </h4>
</div>

<div class="container">
    <div class="row">
        <!-- PREPARATION -->
        <div class="col-xs-12" id="preparation">
            <div class="col-xs-12 text-center"><h2>PREPARATION</h2></div>
            <div class="col-xs-12 col-sm-5 text-center grp-icon">
                <div>
                    <div class="col-xs-6" id="icon-tints">
                        <div>
                            <div class="glyphicon glyphicon-tint iconos" id="icon-tint1"></div>
                            <div class="glyphicon glyphicon-tint iconos" id="icon-tint2"></div>
                            <div class="glyphicon glyphicon-tint iconos" id="icon-tint3"></div>
                        </div>
                    </div>
                    <div class="col-xs-6"><div class="fa fa-camera-retro iconos" id="icon-camera"></div></div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-7">
                <h4><div class="glyphicon glyphicon-pushpin sub-conseil"></div> Nettoyer votre véhicule</h4>
                <h4><div class="glyphicon glyphicon-pushpin sub-conseil"></div> Faire des photos de qualité</h4>
            </div>
        </div>
        <!-- fin PREPARATION -->

        <!-- REDACTION -->
        <div class="col-xs-12" id="redaction">
            <div class="col-xs-12 text-center"><h2>REDACTION</h2></div>
            <div class="col-xs-12 col-sm-5 col-sm-push-7 text-center grp-icon">
                <div>
                    <div class="col-xs-6"><div class="fa fa-tag iconos" id="icon-tag"></div></div>
                    <div class="col-xs-6"><div class="fa fa-newspaper-o iconos" id="icon-newspaper"></div></div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-7 col-sm-pull-5">
                <h4><div class="glyphicon glyphicon-pushpin sub-conseil"></div> Un titre <small>Court, Explicatif et Concluant</small></h4>
                <h4><div class="glyphicon glyphicon-pushpin sub-conseil"></div> Une description <small>Compréhensible, Claire et Synthétique</small></h4>
                <h4><div class="glyphicon glyphicon-pushpin sub-conseil"></div> Un prix <small>Juste et Raisonnable</small></h4>
            </div>
        </div>

        <!-- fin REDACTION -->

        <!-- OPTIMISATION -->
        <div class="col-xs-12" id="optimisation">
            <div class="col-xs-12 text-center"><h2>OPTIMISATION</h2></div>
            <div class="col-xs-12 col-sm-5 text-center grp-icon">
                <div>
                    <div class="col-xs-6"><div class="glyphicon glyphicon-filter iconos" id="icon-filter"></div></div>
                    <div class="col-xs-6"><div class="fa fa-magic iconos" id="icon-magic"></div></div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-7">
                <h4><div class="glyphicon glyphicon-pushpin sub-conseil"></div> Utiliser nos filtres <small>Plus vos informations sont precises, plus facile sera la recherche pour les personnes intéressées</small></h4>
                <h4><div class="glyphicon glyphicon-pushpin sub-conseil"></div> Adhérer à notre service Pack GOLD</h4>
            </div>
        </div>
        <!-- fin OPTIMISATION -->

        <!-- SECURITE -->
        <div class="col-xs-12" id="securite">
            <div class="col-xs-12 text-center"><h2>SECURITE</h2></div>
            <div class="col-xs-12 col-sm-4 col-sm-push-8 text-center">
                <div class="col-xs-12"><div class="fa fa-lock iconos" id="icon-lock"><span class="fa fa-asterisk iconos"></span><span class="fa fa-asterisk iconos"></span><span class="fa fa-asterisk iconos"></span></div></div>
            </div>
            <div class="col-xs-12 col-sm-8 col-sm-pull-4">
                <h4><div class="glyphicon glyphicon-pushpin sub-conseil"></div><i> Sans votre consentement votre téléphone ne sera pas affichée. De cette façon, vous pouvez traiter les demandes de possibles acheteurs par mail ou en utilisant notre plate-forme</i></h4>
            </div>
        </div>

        <!-- fin SECURITE -->


        <div class="col-xs-12" id="gold">
            <div class="col-xs-12 text-center"><h2>Pack GOLD</h2></div>
            <div class="col-xs-12 col-sm-4 ">
                <div class="col-xs-12 text-center">
                    <div class="col-xs-12"><div class="fa fa-cubes iconos" id="icon-cubes"></div></div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-8">
                <h4><div class="glyphicon glyphicon-pushpin sub-conseil"></div> Meilleur positionnement <small>Vous vendrez avant!</small></h4>
                <h4><div class="glyphicon glyphicon-pushpin sub-conseil"></div> Visibilité maximale <small>Jusqu'à 20 photos</small></h4>
                <h4><div class="glyphicon glyphicon-pushpin sub-conseil"></div> Statistiques professionnelles <small> Nombre de visites, Comparaison de prix avec des véhicules similaires, etc</small></h4>
            </div>
        </div>

        <div class="col-xs-12"></div>
        <div class="col-xs-12"></div>
    </div>

</div>
<!-- /#div-catg -->