<div class="container" id="navigation">
    <div class="row navbar-fixed-top" id="row-header1">
        <div class="col-xs-6 col-md-3 col-md-offset-5 col-lg-2 col-lg-offset-5" id="logo">
            <a href="{{ path('test_front_homepage') }}">
                <div class="" id="sub-logo">ZENZAS</div>
                <div class="" id="sub-logo2">Véhicules d'occasion</div>
            </a>
        </div><!-- fin id = logo-->

        <div class="col-xs-6 text-right" id="menu-iconos">
            <div class="col-xs-3"><span class="glyphicon glyphicon-search" id="btn-menu-search"></span></div>
            <div class="col-xs-3"><span class="glyphicon glyphicon-map-marker" id="btn-menu-map"></span></div>
            <div class="col-xs-3"><span class="glyphicon glyphicon-user" id="btn-menu-user"></span></div>
            <div class="col-xs-3 visible-xs text-right"><span class="glyphicon glyphicon-menu-hamburger" id="btn-menu-mobile"></span></div>
        </div><!-- fin id = menu-iconos-->

        <div class="visible-xs" id="espase-menu-mobile"></div>

        <div class="col-xs-12 col-sm-9 col-sm-offset-3 col-md-8 col-md-offset-3 col-lg-6 col-lg-offset-4 text-center" id="nav">
            <nav class="navbar" >
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li  class="dropdown">
                            <a href="" class="dropdown-toggle" id="dropdownMenuDeposer" data-toggle="dropdown">DEPOSER ANNONCE</a>
                            <ul class="dropdown-menu sub-menu" role="menu" aria-labelledby="dropdownMenuDeposer">
                                <li role="presentation" class="dropdown-header text-uppercase li-20">Véhicules</li>
                                <li role="presentation"><a role="menuitem" tabindex="-1" class="left-30" href="">Vendre votre véhicule <span class="glyphicon glyphicon-menu-right"></span></a></li>
                                <li role="presentation"><a role="menuitem" tabindex="-1" class="left-30" href="">Louer votre véhicule <span class="glyphicon glyphicon-menu-right"></span></a></li>
                                <li class="divider"></li>
                                <li role="presentation" class="dropdown-header text-uppercase li-20">Pieces</li>
                                <li role="presentation"><a role="menuitem" tabindex="-1" class="left-30" href="">Vendre une pièce <span class="glyphicon glyphicon-menu-right"></span></a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="" class="dropdown-toggle" id="dropdownMenuSearch" data-toggle="dropdown">RECHERCHER</a>
                            <ul class="dropdown-menu sub-menu" role="menu" aria-labelledby="dropdownMenuSearch">
                                <li role="presentation" class="dropdown-header text-uppercase li-20">Véhicules</li>
                                <li role="presentation"><a role="menuitem" tabindex="-1" class="left-30" href="">Véhicules en vente<span class="glyphicon glyphicon-menu-right"></span></a></li>
                                <li role="presentation"><a role="menuitem" tabindex="-1" class="left-30" href="">Véhicules en location<span class="glyphicon glyphicon-menu-right"></span></a></li>
                                <li class="divider"></li>
                                <li role="presentation" class="dropdown-header text-uppercase li-20">Pieces</li>
                                <li role="presentation"><a role="menuitem" tabindex="-1" class="left-30" href="">Pièces en vente <span class="glyphicon glyphicon-menu-right"></span></a></li>
                            </ul>
                        </li>
                        <li><a href="" class="li-menu">COVOITURAGE</a></li>
                        <li><a href="" class="li-menu">CONTACT</a></li>
                    </ul>
                </div>
            </nav>
        </div><!-- fin id = nav-->

    </div> <!-- fin id=row-header1 -->

</div><!-- fin id = navigation-->
<div id="bloq"><i class="fa fa-circle-o-notch fa-spin"></i></div>